@import url("https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --black: #050505;
    --white: #ffffff;
    --gray: #ffffffb3;
}

section {
    padding: 45px 0px;
}

html {
    background-color: var(--black);
    color: var(--white);
    scroll-behavior: smooth;
    min-width: 400px;
}

.fahkwang-light {
    font-family: "Fahkwang", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.fahkwang-regular {
    font-family: "Fahkwang", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fahkwang-medium {
    font-family: "Fahkwang", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.fahkwang-semibold {
    font-family: "Fahkwang", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.fahkwang-bold {
    font-family: "Fahkwang", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* header */

.header {
    width: 90%;
    height: 100px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.header div {
    width: calc(97% / 2);
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo img {
    width: 170px;
}

.btn-nav button {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    border: none;
}

.btn-nav button i {
    font-size: 25px;
}

@media screen and (min-width: 1024px) {
    .btn-nav {
        display: none;
    }
    .header {
        justify-content: center;
    }
    .logo {
        justify-content: center;
    }
}

/* nav bar */

.nav {
    width: 90%;
    margin: 0px auto;
    display: none;
}

.nav ul {
    list-style: none;
}
.nav li:nth-child(n + 1):nth-child(-n + 3) {
    border-bottom: 2px solid #eaeaea;
}

.nav a {
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    color: var(--black);
    background-color: var(--white);
    text-decoration: none;
    display: block;
    transition: color 0.3s;
}
.nav a:hover {
    color: var(--white);
    background-color: var(--black);
}

@media screen and (min-width: 1024px) {
    .nav {
        display: flex;
        justify-content: center;
    }
    .nav li:nth-child(n + 1):nth-child(-n + 3) {
        border-bottom: none;
    }
    .nav ul {
        width: 70%;
        display: flex;
        justify-content: center;
    }
    .nav a {
        width: calc();
        padding: 0px 20px;
        font-size: 15px;
        background-color: transparent;
        color: var(--white);
        text-transform: uppercase;
    }
    .nav a:hover {
        color: #efe6d5;
    }
}

/* hero */

.hero {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: end;
    position: relative;
    background-image: url(assets/hero3.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    --background-overlay: "";
    background-color: transparent;
    background: radial-gradient(
        at center center,
        #05050500 0%,
        var(--black) 60%
    );
    z-index: 1;
}
.container {
    position: relative;
    z-index: 2;
    width: 100%;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.title-size {
    width: 410px;
}
.title h1 {
    text-transform: uppercase;
    font-size: 1.6rem;
}
@media screen and (min-width: 767px) {
    .title-size {
        width: 517px;
    }
    .title h1 {
        text-transform: uppercase;
        font-size: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .hero {
        height: 600px;
    }
    .title-size {
        width: 517px;
    }
    .title h1 {
        text-transform: uppercase;
        font-size: 2rem;
    }
}

/* links */

.links {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}
.links .container {
    height: 40px;
}

.links > div {
    width: 100%;
    height: 100%;
    margin: 30px 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
}
.links > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #ffffff00 67%, #111112 92%);
    background-color: transparent;
    z-index: 1;
}

.links .link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links a {
    text-decoration: none;
    color: var(--gray);
    font-size: 15px;
    transition: color 0.2s;
}
.links a:hover {
    color: var(--white);
}

.links > div .img {
    width: 80%;
    height: 450px;
    margin: 0px auto;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio-link .img {
    background-image: url(assets/link-1.png);
}

.biography-link .img {
    background-image: url(assets/link-2.png);
}
.services-link .img {
    background-image: url(assets/link-3.png);
}
.contact-link .img {
    background-image: url(assets/link-4.png);
}

@media screen and (min-width: 767px) {
    .links > div {
        width: fit-content;
    }
    .links > div .img {
        width: 330px;
    }
}
@media screen and (min-width: 1024px) {
    .links {
        flex-direction: row;
        width: 95%;
        justify-content: space-between;
    }
    .links > div {
        width: calc(90% / 4);
        height: 100%;
        margin: 0px;
    }
    .links > div .img {
        width: 195px;
        height: 300px;
    }
    .links .container {
    height: fit-content;
    margin-bottom: 20px;
}
.links a {
    text-decoration: none;
    color: var(--gray);
    font-size: 12px;
}
}

/* about */
#about {
    height: 1450px;
}
.about {
    position: relative;
    width: 100%;
}

.about-image {
    width: 100%;
    height: 600px;
    background-image: url(assets/about.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    z-index: 2;
}
.about-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #ffffff00 20%, var(--black) 91%);
    background-color: transparent;
}
.about-container {
    width: 90%;
    height: 850px;
    margin: -200px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.scioal-links {
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
}
.social-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.social-container > div {
    width: 40px;
    height: 40px;
}
.social-container a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.social-container a:hover {
    background-color: var(--black);
}
.social-container i {
    font-size: 20px;
    color: var(--black);
}
.social-container a:hover i {
    color: var(--white);
}

.pragraph {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pragraph .p2 {
    color: var(--gray);
}

.pragraph .complition-pra-link a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-size: 15px;
    padding: 2px;
    border-bottom: 1px solid var(--white);
}

@media screen and (min-width: 767px) {
    #about {
        height: 1150px;
    }
    .about-container {
        width: 90%;
        height: 600px;
        margin: -150px auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
    .scioal-links {
        width: 15%;
        height: 100%;
        margin-bottom: 0px;
    }
    .social-container {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .pragraph {
        width: 73%;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* Portfolio */

.portfolio {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.photos {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.p-head {
    margin-bottom: 20px;
}
.photos > div {
    width: calc(95% / 2);
    margin-bottom: 20px;
}
.photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio .head h2 {
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.portfolio .link {
    border-bottom: 1px solid var(--white);
}
.portfolio .link a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
}
.portfolio .p-head .l1,
.portfolio .empty {
    display: none;
}

@media screen and (min-width: 767px) {
    /* .portfolio {
        height: fit-content;
    } */
    .photos > div {
        width: calc(95% / 3);
    }
    .p-head {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .p-head > div {
        width: calc(97% / 2);
    }
    .portfolio .empty {
        display: block;
    }
    .portfolio .p-head .l1 {
        display: block;
        width: fit-content;
    }
    .portfolio .p-head .link-container {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .portfolio .l2 {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .portfolio {
        height: fit-content;
    }
    .photos > div {
        width: calc(95% / 4);
    }
    .photos .empty {
        display: none;
    }
}

/* service */

.service {
    width: 95%;
    height: 1300px;
    margin: 0px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.service .body {
    height: 1200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.service .s-head h2 {
    text-transform: uppercase;
}
.service .body .img {
    width: 390px;
    height: 480px;
}
.service .body .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.s-container1,
.s-container2 {
    height: 310px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.s-container1 > div.s-container2 > div {
    height: 160px;
}

.service .body p,
.service .body h3,
.service .body .link {
    text-align: center;
}
.service .body p {
    color: var(--gray);
}
.service .body h3 {
    margin-bottom: 15px;
}
.service .body .link {
    margin-top: 15px;
}
.service .body .link a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
}

@media screen and (min-width: 767px) {
    .service {
        height: 700px;
    }
    .service .s-head {
        height: 100px;
    }
    .service .body {
        flex-flow: row wrap;
        height: fit-content;
    }
    .service .body > div {
        width: calc(90% / 3);
    }
    .service .body .img {
        width: 215px;
        height: 260px;
    }
    .s-container1,
    .s-container2 {
        height: 500px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }
}

/* discription */
.discription {
    width: 90%;
    height: 530px;
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.discription .d-title {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.d-title .d-pragraph {
    width: 100%;
    height: fit-content;
    font-size: 18px;
    text-align: center;
}
.d-title .d-icon {
    width: 100%;
    height: 80px;
    padding-bottom: 20px;
    text-align: center;
}
.d-title .d-icon i {
    font-size: 60px;
}
.d-avatar {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.d-avatar .d-avatar-container {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.d-avatar .empty {
    display: none;
}
.d-avatar .d-icon {
    width: 100%;
    height: 150px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.d-avatar .info {
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.d-avatar .info .dis {
    font-size: 15px;
    color: var(--gray);
}

@media screen and (min-width: 767px) {
    .discription {
        height: 500px;
    }
    .discription .d-title {
        flex-flow: row wrap;
    }
    .d-title .d-icon {
        width: 15%;
        height: 100%;
        padding-bottom: 20px;
        text-align: center;
    }
    .d-title .d-pragraph {
        width: 80%;
        font-size: 23px;
        text-align: left;
    }
    .d-avatar {
        height: fit-content;
        flex-direction: row;
        align-items: center;
    }
    .d-avatar .d-avatar-container {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .d-avatar .d-icon {
        padding-right: 10px;
        width: 80px;
        height: 80px;
        height: fit-content;
        padding-top: 0px;
        display: block;
    }
    .d-avatar .d-icon img {
        width: 100%;
        height: 100%;
        height: fit-content;
        padding-top: 0px;
        display: block;
    }
    .d-avatar .empty {
        display: block;
        width: 15%;
        height: 100%;
        padding: 0px 70px;
    }
}
/* end */
.end {
    width: 100%;
    height: 280px;
    background-image: url(assets/cta.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.end::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--black) 51%, #0505059e 100%);
    z-index: 1;
}
.end-container {
    position: relative;
    z-index: 2;
    width: 85%;
    height: 100%;
    padding: 110px 0px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.end-container h2 {
    text-transform: uppercase;
}
.end-container .end-link {
    border-bottom: 1px solid var(--white);
    padding: 3px;
}
.end-container a {
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
}

/* footer */

.foot-container {
    width: 85%;
    margin: 0px auto;
    padding: 50px 0px 30px;
}
.foot-container .logo-img {
    width: 100%;
    text-align: center;
    height: 30px;
}
.foot-container .logo-img img {
    height: 100%;
    object-fit: contain;
}
.foot-container .social-foot {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-container .social-foot a {
    padding-left: 10px;
    text-decoration: none;
    color: var(--white);
}

.copy-r {
    text-align: center;
}
